.cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card{
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px rgb(230,230,230);
  padding: 20px;
  width: 200px;
  border-radius: 4px;
}
.card img {
  width : 100px;
}
.card p {
  opacity:0.7;
  padding: 0 40px;
}
